<h2> Dostupni lekovi </h2>
<div class="row flex-column">
	<div ng-repeat="medicine in $ctrl.medicines" class="card mx-md-1 col-lg-4 col-md-6">
		<div class="card-body">
			<h3 class="card-title">
				{{medicine.name}}
			</h3>
			<div class="card-subtitle mb-2 text-muted">
				Tip = {{medicine.medicineType}}<br>
			</div>
			<h3 class="card-body">
			<button 
			class="btn btn-custom"
			ng-click="$ctrl.checkAlergies(medicine)">Proveri alergije
			</button>&nbsp&nbsp
			<button 
			class="btn btn-custom"
			ng-click="$ctrl.prescripe(medicine)">Prepisi
			</button>
			
			<button 
			class="btn btn-custom"
			ng-click="$ctrl.deleteMedicine(medicine)">Obrisi lek
			</button>
			</h3>
				
			
		</div>
	</div>
</div>





<h2>Dodaj novi lek</h2>

<div class="row justify-content-md-left">
	<form name="medicineForm" >
	
	<div class="form-group row">
    <label for="nameInput">Ime:</label>
	<input type="text"
		id="nameInput"
		class="form-group form-control"
		placeholder="Name"
		ng-model="$ctrl.newMedicine.name"
		ng-required="true"/>
	</div>
	
	<div class="form-group row">
    <label for="artistsInput">Substance(razdvojene zarezom):</label>
	<input type="text"
		id="artistsInput"
		class="form-group form-control"
		placeholder="Artists list"
		ng-model="$ctrl.newMedicine.substances" 
		ng-required="true"/>
	</div>
	
	<div class="form-group row">
    <label for="artistsInput">Tipe leka:</label>
	 <select ng-model="$ctrl.newMedicine.medicineType" ng-required="true">
		  <option value="ANTIBIOTIK">ANTIBIOTIK</option>
		  <option value="ANALGETIK">ANALGETIK</option>
		  <option value="OSTALO">OSTALO</option>
	</select> 
	</div>
	
	<button class="btn btn-custom"
		ng-click="medicineForm.$valid && $ctrl.send()">Send
	</button>
	<p>
		{{$ctrl.status}}
	</p>
	</form>
	
</div>