<button ng-disabled ="$ctrl.symptomList.length == 0 && $ctrl.temperature == undefined" class = 'btn btn-custom'
	ng-click="$ctrl.mostLikely()">Najverovatnija bolest</button> &nbsp&nbsp&nbsp
<button ng-disabled ="$ctrl.symptomList.length == 0 && $ctrl.temperature == undefined" class = 'btn btn-custom'
	ng-click="$ctrl.mostLikelyList()">Spisak najverovatnijih bolest</button> 
<h1>Pronadji simptome</h1>
<form class="form-row">
	<div class="col-md-auto">
		<div class="form-group input-group">
			<input type="text"
				class="form-control"
				ng-model="$ctrl.search"
				placeholder="Search {{$ctrl.placeType | lowercase}}s"
				autofocus/>
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group input-group">
	Temperature &nbsp&nbsp: &nbsp&nbsp<input type='number' ng-model='$ctrl.temperature' ng-change='$ctrl.changeTemperature()')> 
	</div>
</form> 

<div class="row no-gutters align-items-stretch">
	<div ng-repeat="symptom in $ctrl.symptoms | filter:$ctrl.search"
		class="card m-md-1 col-lg-4 col-md-6">
			<div class="card-body">
				{{symptom}}&nbsp&nbsp&nbsp
				<input id="checkBox" type="checkbox" ng-model="choice" ng-change="$ctrl.changeStatus(choice,symptom)">
			</div>
	</div>
	
</div>



<div ng-if='$ctrl.diseases != null'>
	<h1>Najverovatnije bolesti:</h1>
	<div class="row no-gutters align-items-stretch">
	<div ng-repeat="disease in $ctrl.diseases  | orderBy:'numberOfSymptoms':true"
		class="card m-md-1 col-lg-4 col-md-6">
			<div class="card-body">
				<h3 class="card-title">
					<p>{{disease.diseaseType}}</p>
				</h3>
				<div class="card-subtitle mb-2 text-muted">
					<p>Verovatnoca &nbsp : &nbsp {{disease.chance}}</p>
					<p>Broj simptoma &nbsp : &nbsp {{disease.numberOfSymptoms}}</p>
					<p>Grupa &nbsp : &nbsp {{disease.diseaseGroup}}</p>
					
				</div>
				<button class = 'btn btn-custom'>Dijagnostikuj bolest</button>
			</div>
	</div>
	</div>
</div>

